* body {
    background: #CBCCD3;
    max-width: 716px;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
  }
  
  h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    text-align: left;
    line-height: 80px;
    color: #FFFFFF;
  }
  
   h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 109px;
    text-align: left;
    color: #FFFFFF;
  } 
  
  h3 {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
  }

  h4 {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
    color: #FFFFFF;
  }
  
  h5 {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
  }

  h6 {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
  }

  .britt_image {
    float:left;
    margin-right: 50px;
  }

  p {
    max-width: 100;
  }
  
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: #9A9AA0;
  }

  hr {
    display: block; height: px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0;
    }

    .photos {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr; /* fr stands for fraction - we want two columns that take up half of the avaliable space (2)*/
      gap: 1px;
    }
  
    .feature {
        width: 200px;
        float: left;
        padding: 20px;
    }


  @media screen and (max-width: 450px) { 
    h1 {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      text-align: left;
      line-height: 10px;
      text-align: center;
      color: #FFFFFF;
    }

    .britt_image {
      height: 300px;
      width: auto;
      margin: 30px;
    }
    
    p {
      margin: 15px;
    }

    .links {
      margin: 15px;
    }

    .photos {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }