* body {
    background: #CBCCD3;
    /* position: absolute; */
    max-width: 716px;
    /* height: 74px; */
    margin: 0 auto;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: left;

    color: #FFFFFF;
  }
  
  h1 {
    /* position: absolute; */
    /* width: 1384px;
    height: 148px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    /* line-height: 123px; */
    text-align: left;

    color: #FFFFFF;
  }
  
   h2 {
    /* position: absolute; */
    /* width: 1244px;
    height: 148px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 109px;
    text-align: left;

    color: #FFFFFF;
  } 
  
  h3 {
    position: absolute;
    /* width: 1116px;
    height: 105px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 96px;
    text-align: center;

    color: #FFFFFF;
  }

  h4 {
    position: absolute;
    /* width: 1048px;
    height: 98px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 82px;
    text-align: center;

    color: #FFFFFF;
  }
  
  h5 {
    position: absolute;
    /* width: 923px;
    height: 89px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;

    color: #FFFFFF;
  }

  h6 {
    position: absolute;
    /* width: 716px;
    height: 74px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: center;

    color: #FFFFFF;
  }

  .britt_image{
    float:left;
    margin-right: 50px;
  }

  p{
    max-width: 100;
  }
  
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: #9A9AA0;
  }

  hr {
    display: block; height: px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0;
    }