@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');

/* main body */
body {
    background: #FEFCF3;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #533d3a;
  }

  article {
    max-width: 716px;
    /* max-width: 716px; */
    margin: 0 auto;
    /* justify-content: center; */
  }
  
  h1 {
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    line-height: 80px; /*help*/
    color: #4f3b38b1;
  }
  
   h2 {
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 109px;
    text-align: left;
    color: #4f3b38b1;
  } 
  
  h3 {
    position: absolute;
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #4f3b38b1;
  }

  h4 {
    /* position: absolute; */
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 82px;
    text-align: center;
    color: #4f3b38b1;
  }
  
  h5 {
    position: absolute;
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    text-align: center;
    color: #4f3b38b1;
  }

  h6 {
    position: absolute;
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #4f3b38b1;
  }
  
  img{
    display: inline-block;
    margin-right: 20px;
  }

  nav {
    background-color: #DBA39A;
    padding: .5em;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a { 
    color: #FEFCF3;
    text-decoration: none;
    padding: auto;
  }

  .britt_image {
    float:left;
    padding: 15px;
  }
  
  /* nav a {
    color: white;
    text-decoration: none;
  } */

  a {
    color: #b97267;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: #7e0202;
  }

  nav a:hover {
    text-decoration: none;
    color: #4f3b38b1;
  }

  hr {
    display: block; height: px;
    border: 0; border-top: 5px solid #533d3a87;
    margin: 1em 0; 
    padding: 0;
  }

  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
     /* fr stands for fraction - we want two columns that take up half of the avaliable space (2)*/
    gap: 1px;
  }

  .experience-box {
    border-radius: 5px;
    color: #1E1E24;
    margin-bottom: 25px;
    padding: 10px 14px 10px 44px;
    position: relative;
  }

    .job-1 {
      background-color: #F0DBDB;
    }

  .grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    /* justify-items: center;
    align-items: center */
    padding-left: 50px;
  }

  .square {
    height: 200px;
    width: 200px;
    border: solid #4f3b38b1 1px;
  }

  .mole {
    background-image: url('../img/mole.jpg');
    background-size: cover;
  }

  .video {
    align-content: center;
    height: 500px;
    width: 800px;
  }

  @media screen and (max-width: 450px) { 
    nav ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: sticky;
      /* top: 0; */
      align-items: center;
      gap: 0.5em;
    }

    h1 {
      /* font-family: 'Manrope'; */
      font-weight: 800;
      font-size: 50px;
      line-height: 45px;
      text-align: center;
      color: #4f3b38b1;
    }

    .britt_image {
      /* margin: 30px; */
      height: auto;
      width: auto;
      display: flex;
      justify-content: center;
      padding-left: 30px;
      /* display: flex; how to make this the photo on top of the text */
    }
    
    article {
      /* max-width: 716px; */
      /* margin: 0 auto; */
      /* margin: 15px; */
      display: flex;
      flex-direction: column;
    }

    /* container{
      max-width: 1000px;
      margin: 0 auto;
    } */

    .photos {
      list-style: none;
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;
      gap: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .grid {
      width: 400px;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 15px;
    }
  
    .square {
      height: 130px;
      width: 130px;
      border: solid black 1px;
    }
  
    .mole {
      background-image: url('../img/mole.jpg');
      background-size: cover;
    }

    .video {
      size-adjust: relative;
    }
  }

  /* flex direction column */

  /* how to make colored background box */

  /* experience boxes on experience page */
  